/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --accent-color: #ff0070;
  --decor-color: #ff0070;
  --bg-color: #000028;
  --text-color:  #F1B2CE;
  --main-heading-color:#000028;
  --nav-color: #ff0070;
  --section-title-color: #ff0070;
  --header-title-color: #db00ff;
  --footer-title-color: #db00ff;
  background-image: url(../images/cover-image-dark.png);
  --nav-hover-color: rgba(255, 0, 112);
}

.theme_dark .header__decoration {
  display: block;
}