/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --accent-color: #ff8dcb;
  --decor-color: #353430;
  --bg-color: #fff1f7;
  --text-color:  #353430;
  --main-heading-color:#353430;
  --nav-color: #353430;
  --section-title-color: #353430;
  --header-title-color: #ffc2e6;
  --footer-title-color: #ffc2e6;
  --nav-hover-color: #32312D66;
  background-image: url(../images/cover-image-light.png);
}

.theme_light .header__decoration {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --decor-color: #353430;
    --bg-color: #fff1f7;
    --text-color:  #353430;
    --main-heading-color:#353430;
    --nav-color: #353430;
    --section-title-color: #353430;
    --header-title-color: #ffc2e6;
    --footer-title-color: #ffc2e6;
    --header-text-shadow: 4px 4px 0 #ff0070;
    --footer-text-shadow: 2px 2px 0 #ff0070;
    --nav-hover-color: rgba(50, 49, 45)
  }

  .page {
    background-image: url(../images/cover-image-light.png);
  }

  .header__decoration {
    display: none;
  }

  .header__theme-menu-button:hover {
    color: var(--nav-hover-color);
  }

  @media (width < 1024px) {
    .header__title {
      --header-text-shadow: 4px 4px 0 var(--accent-color, #ff8dcb);
    }

    .footer__title {
      --footer-text-shadow: 2px 2px 0 var(--accent-color, #ff8dcb);
    }
  }
}